$theme: #f0f700;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #222;
  font-family: "Segoe UI", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fafafa;
}

header {
  //position: fixed;
  margin: 16px 0;

  select {
    position: fixed;
    top: 8px;
    left: 8px;
    width: 64px;
    height: 64px;
    border: none;
    outline: none;
    background-color: $theme;
  }

  ul {
    list-style-type: none;
    text-align: center;
    li {
      display: inline;
      margin-left: 112px;
      margin-right: 72px;
      a {
        text-decoration: none;
        font-size: 24px;
      }
    }
  }
  hr {
    margin: auto;
    width: 120px;
    border: solid 2px $theme;
  }
}
.title {
  text-align: center;
  margin: 16px 0;
}

.wrapper {
  h1 {
    text-align: center;
    margin: 16px 0;
  }
  display: block;
  width: 540px;
  margin: auto;

  .main {
    margin: 16px 0;
    .container {
      margin: 8px 0;
      p {
        padding-left: 8px;
      }
    }
  }
}

//
#transFill {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: -100%;
  background-color: $theme;
}
